.contact {
    background-color: #FFF5E1;
    padding: 40px 0;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-container h2 {
    margin-bottom: 20px;
}

.contact-container p {
    margin-bottom: 30px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-bottom: 10px;
}

input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    height: 300px;
}

button {
    background-color: #D67F2E;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
