html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    height: 100vh;
    font-weight: 400;
    color: #1e3c46;
    background-color: #fff;
    padding: 0;
}

header{
    background-color: #D2601A;
    height: 85px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: wrap;
}
img[alt="DRCoffee"]{
    width: 50px;
    height: auto ;
    margin: 0px 5px;
}  
a[href="home.php"]{
    display: flex;
}
h1{
    font-size: 30px;
    color: black;
    margin: 0px;
    font-family: "Poppins", sans-serif;
    position: relative;
    top: 10px;  
}
h1.c{
    color: #D2601A;
}
.search-bar {
    display: flex;
    gap: 15px;
    margin-left: 200px;
}

.search-bar input {
    padding: 5px;
    border: 1px solid #D2601A;
    border-radius: 5px;
}
.search-bar button:hover {
    background-color: #902713;
    box-shadow: 1px 1px 1px black;
}
.search-bar button {
    padding: 5px 10px;
    background-color: #1e3c46;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.navbar {
    background-color: #f5f5f5;
    width: 100%;
    padding: 5px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
}

a{
    text-decoration: none;
}


.nav-links {
    list-style: none;
    display: flex;
    gap: 10px;
}

.nav-links li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}


h5{
    align-self: center;
    margin: 5px;
    color: white;
    text-transform: uppercase;
    font-size: 15px;
}





main {
    padding: 40px 0;
    background-color: #fff;
}

.product-container,
.offer-container {
    max-width: 800px;
    margin: 0 auto;
}


.product,
.offer {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.product img,
.offer img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.product h3 {
    margin-bottom: 10px;
}

.product-price {
    color: #D67F2E;
    font-weight: bold;
}

.add-to-cart {
    background-color: #D2601A;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}







button{
    background-color: #FF7E12;
}
button:hover{
    background-color: #D2601A;
}











footer h3{
    color: #1e3c46;
    font-weight: 700;
    margin: 40px 0px;
    font-size: 1.25rem;
}
footer {
    background-color:#f5f5f5;
    color: black ;
    padding: 20px 0;
    flex-wrap: wrap;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    max-width: 300px;
}

footer ul {
    list-style: none;
    padding: 0;
}
footer a {
    color: black ;
}
footer li {
    margin-bottom: 10px;
}

ul.social-icons {
    display: flex;
    gap: 10px;
}

.social-icons img {
    width: 30px; 
    height: auto;
}

.copyright {
    text-align: center;
    margin-top: 20px;
}



/* 

h2 {
    text-align: center;
    margin-bottom: 20px;
}  */