body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


.dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.user-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 20px;
}

h2 {
    color: #333;
}

.actions {
    flex: 0 0 30%;
}

.logout-btn {
    background-color: #D67F2E;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
}

.logout-btn:hover {
    background-color: #ae6525;
}
