.contact {
    background-color: #FFF;
    padding: 20px 0;
}

.contact-container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.contact-container h2 {
    margin-bottom: 20px;
}

.contact-container p {
    margin-bottom: 30px;
    text-align: center;
}

main form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

main label {
    margin-bottom: 10px;
}

main input, textarea {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
textarea{
    height: 300px;
}

.contact-form button {
    background-color:#FF7E12;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: #902713;
}
button{
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
