main{
    padding: 10px;
}
#user-profile{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}
.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
h3{
    color: #D2601A;
}
h2, h3 {
    text-align: center;
}
.user-info, .purchase-history, .commande, .edit-profile, .logout-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.purchase {
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

main form {
    display: flex;
    flex-direction: column;
}

main form label {
    margin-bottom: 5px;
}

main form input {
    margin: 5x;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
}
button[name="update"]{
    margin-top: 10px;
}
.logout-btn {
    text-align: center;
}
button{
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.error-message {
    color: #FB3636;
    margin-top: 10px;
    text-align: center;
}

.sucsses-message {
    color: #26A310;
    margin-top: 10px;
    text-align: center;
}




/* Apply alternate background color to rows for better readability */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style the hover effect for better interactivity */
tbody tr:hover {
    background-color: #e5e5e5;
}
div.commande{
    width: 95%;
    margin: auto;
}

table{
    width: 100%;
    text-align: center;
    border-spacing: 5px;
    margin: auto;
    border-radius: 10px;
  }
  td,th{
    border-radius: 8px;
    padding: 5px;
    text-align: center;
  }
  th{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    background-color: #FF7E12;
  }
td{
    width: 30px;
}