main{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

tbody tr:hover {
    background-color: #e5e5e5;
}
div.commande{
    width: 95%;
    margin: auto;
}
table{
    width: 100%;
    text-align: center;
    border-spacing: 5px;
    margin: auto;
    border-radius: 10px;
  }
  td,th{
    border-radius: 8px;
    padding: 5px;
    text-align: center;
  }
  th{
    color: #fff;
    padding: 10px;
    text-transform: uppercase;
    background-color: #FF7E12;
  }
td{
    width: 30px;
}




.profile-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.purchase-history{
    display: flex;

    max-width: 700px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
  }.purchase {
    border-bottom: 1px solid #ccc;
    max-width: 700px;
    display: flex;
flex-direction: column;
gap: 20px;
flex-wrap: wrap;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

h3{
    color: #D2601A;
}
h2, h3 {
    text-align: center;
}
.user-info, .purchase-history, .commande, .edit-profile, .logout-btn {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}


main form {
    display: flex;
    flex-direction: column;
}

main form label {
    margin-bottom: 5px;
}

main form input {
    margin: 5x;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 5px;
}
button[name="update"]{
    margin-top: 10px;
}
.logout-btn {
    width: 70%;
    text-align: center;
}
button{
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}
.error-message {
    color: #FB3636;
    margin-top: 10px;
    text-align: center;
}

.sucsses-message {
    color: #26A310;
    margin-top: 10px;
    text-align: center;
}





#toast {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4caf50;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  #toastF {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: red;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

